<%- include partials/_header%>


<body>
<%- include("partials/_login", {currentUser: currentUser})%>

  <ul>
    <p><b>Your Short URLs:</b></p>
    <% for (let eachURL in urls) { %>
      <li>
        <form method="POST" action="/urls/<%=eachURL%>/delete">
          <%= eachURL %> : <%= urls[eachURL] %>
          <a href="/urls/<%=eachURL%>">Edit</a>
          <button>Delete <i class="fas fa-trash-alt"></i></button>

        </form>
      </li>
    <% }; %>
  </ul>

</body>
</html>